# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA specific
.idea/
*.iml

# Build output
out/

# Compiled class files
*.class

# Log files
*.log
